body {
    background-color: #ffffff;
}
.titleblock{
    display: grid;
    place-content: left;
}
h1{
    border-left: 1vw solid #ff5151;
    margin-left: 1vw;
    padding-left: 0.5vw;
    color: #424242;
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 300;
    font-size: 2vw;
}
.content-float{
    width: 90vw;
    height: 90vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.contentblock{
    
}

.timeblock{
    display: grid;
    place-content: center;
}
#realtime{
    font-weight: bolder;
    font-size: 20vw;
    font-weight: bold;
    font-family: "M PLUS 1 Code", monospace;
}
.dayblock{
    display: grid;
    place-content: center;
}
#realdate{
    color: #424242;
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 300;
    font-size: 5vw;
}
